:root {
    --base-color: #212121;
    --main-color: #3a3a3a;
    --shadow-color: black;
}

* {
    margin: 0;
    transition: background-color 1s, box-shadow 1s;
}

body {
    background-color: var(--base-color);
    min-height: 100vh;
}

#logo {
    width: 750px;
    height: 120px;
    position: absolute;
}

#logoOuter {
    position: absolute;
    display: block;
}

#logoInner {
    position: absolute;
    fill: url(#MyGradient);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#modeToggle {
    top: 300px;
    background-color: var(--main-color);
    box-shadow: 0px 5px 5px var(--shadow-color);
    cursor: pointer;
    width: 150px;
    height: 70px;
    border-radius: 50px;
    left: 100px;
    position: absolute;
}

#modeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
    border-radius: 20px;
    top: 21%;
    height: 58%;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    box-shadow: none;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s, box-shadow 0.5s;
}

#moon {
    user-select: none;
    width: 100%;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 1s;
}