::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 15px;
}

:root {
    --base-color: #212121;
    --main-color: #3a3a3a;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --menuShadow-color: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    transition: background-color 1s, box-shadow 1s;
    
}

body {
    background-color: var(--base-color);
    min-height: 100vh;
    overflow-x: hidden;
}

#logo {
    top: 50px;
    width: 100%;
    height: 100px;
    position: absolute;
}

#menuBox {
    position: fixed;
    border-radius: 30px;
    width: 24vw;
    max-width: 150px;
    aspect-ratio: 1/1.2;
    top: calc(50vh - 85px);
    left: -35px;
    z-index: 2;
}

#menu {
    position: fixed;
    background: purple;
    border-radius: 40px;
    width: 8vw;
    max-width: 50px;
    aspect-ratio: 1/2;
    top: calc(50vh - 50px);
    left: -25px;
    box-shadow: 5px 5px 5px var(--shadow-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), box-shadow 1s, transform 0.5s, padding 0.5s;
    z-index: 3;
    transform: translateY(0);
}

.icon {
    display: none;
    fill: #d0d0dc;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    cursor: pointer;
}

#homeIcon {
    width: 80%;
    top: 8%;
}

#settingsIcon {
    width: 75%;
    top: 27.5%;
    left: 16.5%;
}

#settingsMenu {
    width: 400%;
    height: 100%;
    background: purple;
    left: 170%;
    position: absolute;
    display: none;
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.5s, box-shadow 1s;
}

#modeToggle {
    top: 10%;
    background-color: var(--main-color);
    box-shadow: 5px 5px 5px var(--menuShadow-color);
    cursor: pointer;
    width: 55%;
    height: 12%;
    border-radius: 50px;
    left: 21.5%;
    position: absolute;
}

#modeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
    border-radius: 20px;
    top: 21%;
    height: 58%;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    box-shadow: 0 0 10px grey;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s, box-shadow 0.5s;
}

#moon {
    user-select: none;
    width: 100%;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 1s;
}

#menuIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1.3/1;
    border-radius: 100%;
}

#accountIcon {
    stroke: #d0d0dc;
    stroke-width: 0.5;
    width: 80%;
    bottom: 27.5%;
    left: 10%;
}

#aboutIcon {
    width: 68%;
    bottom: 10%;
}

.line {
    background: #d0d0dc;
    border-radius: 4px;
    width: 60%;
    aspect-ratio: 6/1;
}

#mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    left: 10vw;
    width: 80vw;
    top: 170px;
}

.anim {
    margin: 100px;
    width: 400px;
    min-width: 300px;
    aspect-ratio: 4/5;
    border-radius: 50px;
    background: var(--main-color);
    box-shadow: 10px 10px 20px var(--shadow-color);
}

@media only screen and (max-width: 1500px) {
    .anim {
        margin: 50px;
    }

    @media only screen and (max-width: 720px) {
        #logo {
            width: 70%;
            left: 15%;
        }
    }
}